<% content_for :title, "ジャンル検索結果" %>

<div class="search_dish_page">
  <div class="search_dish_main">
    <h4 class="search_dish_title">〜 ジャンルから料理を決めてみよう！ 〜</h4>
    <h4 class="search_dish_genre">選択された種類: <%= @genre_selected %></h4>
    <p class="search_dish_intro"><%= @genre_selected %>の料理が表示されます。</p>
    <%= paginate @results %>
    <div class="search_dishes">
      <% @results.each do |dish| %>
        <div class="search_dish_content">
          <%= link_to dish_path(dish.id) do %>
            <%= image_tag(dish.image, class: "search_dish_img", alt: "料理画像") if dish.image.attached? %>
            <p class="search_dish_name"><%= dish.name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
